<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>pro.in.SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>pro.in.VerifyUser</servlet-class>
        <init-param>
            <param-name>admin-email</param-name>
            <param-value>cdgiadmin@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>admin-password</param-name>
            <param-value>cdgiadmin</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BlockCustomer</servlet-name>
        <servlet-class>pro.in.BlockCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockOwner</servlet-name>
        <servlet-class>pro.in.BlockOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockingTheCustomer</servlet-name>
        <servlet-class>pro.in.BlockingTheCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockingTheOwner</servlet-name>
        <servlet-class>pro.in.BlockingTheOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUnactivatedCustomers</servlet-name>
        <servlet-class>pro.in.ShowUnactivatedCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeCustomerStatus</servlet-name>
        <servlet-class>pro.in.changeCustomerStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomerApplied</servlet-name>
        <servlet-class>pro.in.deleteCustomerApplied</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUnactivatedOwners</servlet-name>
        <servlet-class>pro.in.ShowUnactivatedOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeOwnerStatus</servlet-name>
        <servlet-class>pro.in.changeOwnerStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOwnerApplied</servlet-name>
        <servlet-class>pro.in.deleteOwnerApplied</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>pro.in.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowActivatedOwners</servlet-name>
        <servlet-class>pro.in.ShowActivatedOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowActivatedCustomers</servlet-name>
        <servlet-class>pro.in.ShowActivatedCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveCater</servlet-name>
        <servlet-class>pro.in.saveCater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOwnDetails</servlet-name>
        <servlet-class>pro.in.ViewOwnDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageloader</servlet-name>
        <servlet-class>pro.in.imageloader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOwnCateringforDelete</servlet-name>
        <servlet-class>pro.in.ViewOwnCateringforDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockInfoByCater</servlet-name>
        <servlet-class>pro.in.BlockInfoByCater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileForCater</servlet-name>
        <servlet-class>pro.in.UpdateProfileForCater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllDetails</servlet-name>
        <servlet-class>pro.in.ShowAllDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllCaters</servlet-name>
        <servlet-class>pro.in.ShowAllCaters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileForCustomer</servlet-name>
        <servlet-class>pro.in.UpdateProfileForCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goForFeed</servlet-name>
        <servlet-class>pro.in.goForFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFeed</servlet-name>
        <servlet-class>pro.in.viewFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeed</servlet-name>
        <servlet-class>pro.in.DeleteFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAllFeed</servlet-name>
        <servlet-class>pro.in.deleteAllFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goForFeedByCustomer</servlet-name>
        <servlet-class>pro.in.goForFeedByCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goForFeedByCater</servlet-name>
        <servlet-class>pro.in.goForFeedByCater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchItOut</servlet-name>
        <servlet-class>pro.in.searchItOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageloader1</servlet-name>
        <servlet-class>pro.in.imageloader1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailExtractionInSearch</servlet-name>
        <servlet-class>pro.in.detailExtractionInSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailExtractionInSearchReverseGear</servlet-name>
        <servlet-class>pro.in.detailExtractionInSearchReverseGear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOwnerAppliedCopy</servlet-name>
        <servlet-class>pro.in.deleteOwnerAppliedCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomerAppliedCopy</servlet-name>
        <servlet-class>pro.in.deleteCustomerAppliedCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suspendOwner</servlet-name>
        <servlet-class>pro.in.suspendOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suspendCustomer</servlet-name>
        <servlet-class>pro.in.suspendCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockCustomer</servlet-name>
        <url-pattern>/BlockCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockOwner</servlet-name>
        <url-pattern>/BlockOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockingTheCustomer</servlet-name>
        <url-pattern>/BlockingTheCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockingTheOwner</servlet-name>
        <url-pattern>/BlockingTheOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUnactivatedCustomers</servlet-name>
        <url-pattern>/ShowUnactivatedCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeCustomerStatus</servlet-name>
        <url-pattern>/changeCustomerStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomerApplied</servlet-name>
        <url-pattern>/deleteCustomerApplied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUnactivatedOwners</servlet-name>
        <url-pattern>/ShowUnactivatedOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeOwnerStatus</servlet-name>
        <url-pattern>/changeOwnerStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOwnerApplied</servlet-name>
        <url-pattern>/deleteOwnerApplied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowActivatedOwners</servlet-name>
        <url-pattern>/ShowActivatedOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowActivatedCustomers</servlet-name>
        <url-pattern>/ShowActivatedCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveCater</servlet-name>
        <url-pattern>/saveCater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOwnDetails</servlet-name>
        <url-pattern>/ViewOwnDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageloader</servlet-name>
        <url-pattern>/imageloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOwnCateringforDelete</servlet-name>
        <url-pattern>/ViewOwnCateringforDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockInfoByCater</servlet-name>
        <url-pattern>/BlockInfoByCater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileForCater</servlet-name>
        <url-pattern>/UpdateProfileForCater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllDetails</servlet-name>
        <url-pattern>/ShowAllDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllCaters</servlet-name>
        <url-pattern>/ShowAllCaters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileForCustomer</servlet-name>
        <url-pattern>/UpdateProfileForCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goForFeed</servlet-name>
        <url-pattern>/goForFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFeed</servlet-name>
        <url-pattern>/viewFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeed</servlet-name>
        <url-pattern>/DeleteFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAllFeed</servlet-name>
        <url-pattern>/deleteAllFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goForFeedByCustomer</servlet-name>
        <url-pattern>/goForFeedByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goForFeedByCater</servlet-name>
        <url-pattern>/goForFeedByCater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchItOut</servlet-name>
        <url-pattern>/searchItOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageloader1</servlet-name>
        <url-pattern>/imageloader1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailExtractionInSearch</servlet-name>
        <url-pattern>/detailExtractionInSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailExtractionInSearchReverseGear</servlet-name>
        <url-pattern>/detailExtractionInSearchReverseGear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOwnerAppliedCopy</servlet-name>
        <url-pattern>/deleteOwnerAppliedCopy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomerAppliedCopy</servlet-name>
        <url-pattern>/deleteCustomerAppliedCopy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suspendOwner</servlet-name>
        <url-pattern>/suspendOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suspendCustomer</servlet-name>
        <url-pattern>/suspendCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
